{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": "airbnb-base",

  "rules" : {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "eol-last": 0,
    "object-shorthand": "off",
    "func-names": "off",
    "no-useless-escape": "off",
    "no-unused-vars": "warn",
    "linebreak-style": 0
  }
}